<div layout="column" layout-align="space-around" flex="50">

	<div flex="33" layout="column" layout-align="center" layout-margin>
		<md-autocomplete
			md-items="customer in main.customers | filter:main.customerSearchText"
			md-search-text="main.customerSearchText"
			md-item-text="customer.fullname"
			md-selected-item-change="main.setCustomer(customer.pk)"
			md-autoselect="true"
			placeholder="Customer name?">
			<span>{{customer.fullname}}</span>
		</md-autocomplete>
	</div>

	<div flex="33" layout="column" layout-align="center" layout-margin>
		<md-autocomplete
			md-items="product in main.products | filter:main.productSearchText"
			md-search-text="main.productSearchText"
			md-item-text="product.name"
			md-selected-item-change="main.setProduct(product.pk)"
			md-autoselect="true"
			placeholder="Product name?">
			<span>{{product.name}}</span>
		</md-autocomplete>
	</div>

	<div flex="33" layout="column" layout-align="center center">
		<md-button
			ng-click="main.makePurchase()"
			class="md-raised md-primary">
			Make the purchase
		</md-button>
	</div>

</div>


<div layout="column" flex="50">

	<div
		flex="50"
		layout-padding
		layout="column"
		md-whiteframe="2">
		<md-content
			flex
			layout-align="space-around center"
			layout="column">
			<!-- This should be replaced by the user's pic when selected -->
			<img
			src="../images/babar.jpg"
			style="height:100px;"/>
			<div
				layout="column"
				layout-align="center center"
				ng-show="main.customer">
				<span>{{main.customer.nickname}}</span>
				<span>{{main.customer.firstname}} {{main.customer.lastname}}</span>
				<span>{{main.customer.email}}</span>
				<span>{{main.customer.status}}</span>
				<span><strong>{{main.customer.balance}} €</strong></span>
			</div>
			<div
				layout="column"
				layout-align="center center"
				ng-hide="main.customer">
				<span>dev by @dryvenn</span>
				<span><a style="color:grey" href="https://github.com/Babaritech/babar3/issues">report an issue</a></span>
			</div>
			<!-- This md-* element is buggy, had to hack it with animations -->
			<md-fab-speed-dial
				ng-show="main.customer"
				ng-class="main.actionIsOpen ? 'md-flink' : 'md-scale'"
				md-direction="up"
				class="md-fab-bottom-right">
				<md-fab-trigger>
					<md-button
						aria-label="Options"
						ng-click="main.actionIsOpen = !main.actionIsOpen"
						class="md-fab md-warn">
						<md-icon md-font-set="material-icons">menu</md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button
						ng-click="main.paymentIsOpen = true; main.actionIsOpen = false;"
						aria-label="Make a payment"
						class="md-fab md-raised md-mini">
						<md-icon md-font-set="material-icons">attach_money</md-icon>
					</md-button>
					<md-button
						href="admin"
						aria-label="Settings"
						class="md-fab md-raised md-mini">
						<md-icon md-font-set="material-icons">create</md-icon>
					</md-button>
				</md-fab-actions>
			</md-fab-speed-dial>
		</md-content>
	</div>

	<div
		flex="50"
		layout-padding
		layout="column"
		md-whiteframe="2">

		<md-content
			flex
			ng-show="main.product && !main.paymentIsOpen"
			layout="column"
			layout-align="center center">
			<span>{{main.product.name}}</span>
		</md-content>

		<md-content
			flex
			layout="column"
			ng-show="main.paymentIsOpen"
			layout-align="space-around center">
			<form ng-submit="main.makePayment()">
				<md-input-container>
					<label>Amount</label>
					<input
					ng-model="main.paymentMoney"
					type="number" min="0" max="1000" step="1"
					required>
				</md-input-container>
			</form>
			<md-button
				ng-click="main.paymentIsOpen = false"
				class="md-warn">
				Cancel
			</md-button>
		</md-content>

	</div>

</div>
