<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>
			<span>Babar</span>
		</h1>
		<span flex></span>
		<github-md-renderer
			stub='Babaritech/doc'
			branch='master'
			path='ext.md'
			icon='euro_symbol'>
		</github-md-renderer>
		<github-md-renderer
			stub='Babaritech/doc'
			branch='master'
			path='clean.md'
			icon='format_color_fill'>
		</github-md-renderer>
		<tweet hide show-gt-xs></tweet>
		<md-button hide show-gt-xs href="admin" class="md-icon-button" aria-label="Settings">
			<md-icon md-font-set="material-icons">settings</md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-content layout="row" layout-xs="column" flex>
	<form
		ng-submit="main.makePurchase()"
		layout="column"
		layout-align="space-around"
		flex>

		<div flex layout="column" layout-align="center" layout-margin>
			<md-autocomplete
				md-items="customer in main.customers | filter:main.customerSearchText"
				md-search-text="main.customerSearchText"
				md-item-text="customer.fullname"
				md-selected-item-change="main.setCustomer(customer.pk)"
				md-autoselect="true"
				md-autofocus
				placeholder="Customer name?">
				<span>{{customer.fullname}}</span>
			</md-autocomplete>
		</div>

		<div flex layout="column" layout-align="center" layout-margin>
			<md-autocomplete
				md-items="product in main.products | filter:main.productSearchText"
				md-search-text="main.productSearchText"
				md-item-text="product.name"
				md-selected-item-change="main.setProduct(product.pk)"
				md-autoselect="true"
				placeholder="Product name?">
				<span>{{product.name}}</span>
			</md-autocomplete>
		</div>

		<div flex layout="column" layout-align="center center" layout-margin>
			<md-button
				ng-disabled="!main.customer || !main.product"
				type="submit"
				class="md-primary">
				Make the purchase
			</md-button>
		</div>

	</form>


	<div layout="column" flex>

		<div
			flex
			layout-padding
			layout="row"
			layout-align="space-around center"
			id="toast-container"
			md-whiteframe="2">
			<md-content
				flex
				layout-align="space-around center"
				layout="column">
				<!-- This should be replaced by the user's pic when selected -->
				<img
				hide show-gt-xs
				src="../images/babar.jpg"
				style="height:100px;"/>
				<div
					layout="column"
					layout-align="space-around center"
					ng-show="main.customer">
					<span>{{main.customer.fullname}}</span>
					<span>{{main.customer.status.name}} customer</span>
					<md-button
						aria-label="Open payment window"
						ng-click="main.paymentIsOpen = true"
						class="md-warn md-raised">
						<span><strong>{{main.customer.balance}} €</strong></span>
					</md-button>
				</div>
				<div
					layout="column"
					layout-align="space-around center"
					ng-hide="main.customer">
					<span>dev by @dryvenn</span>
					<md-button href="https://github.com/Babaritech/babar3/issues">
						report an issue
					</md-button>
				</div>
			</md-content>
			<easter-egg hide show-gt-sm></easter-egg>
		</div>

		<div
			flex
			layout-padding
			layout="column"
			md-whiteframe="2">

			<md-content
				flex
				ng-show="main.product && !main.paymentIsOpen"
				layout="column"
				layout-align="center center">
				<span>{{main.product.name}} {{main.product.price}}€</span>
			</md-content>

			<form
				ng-show="main.customer && main.paymentIsOpen"
				flex
				layout="column"
				layout-align="space-around center"
				ng-submit="main.makePayment()">
				<md-input-container
					flex
					layout="row"
					layout-align="space-around center">
					<label>Amount</label>
					<input
					md-autofocus
					ng-model="main.paymentAmount"
					type="number" min="0" max="1000" step="1"
					required>
				</md-input-container>
				<div
					flex
					layout="row"
					layout-align="space-around center">
					<md-button
						ng-click="main.paymentIsOpen = false"
						class="md-warn">
						Cancel
					</md-button>
					<md-button
						type="submit"
						class="md-primary">
						Submit
					</md-button>
				</div>
			</form>

		</div>

	</div>
</md-content>
